/*
 * NEW STYLES HERE
 */

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Regular.eot');
    src: local('Circe'), local('Circe-Regular'),
        url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe-Regular.woff') format('woff'),
        url('../fonts/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-ExtraLight.eot');
    src: local('Circe ExtraLight'), local('Circe-ExtraLight'),
        url('../fonts/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe-ExtraLight.woff') format('woff'),
        url('../fonts/Circe-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Thin.eot');
    src: local('Circe Thin'), local('Circe-Thin'),
        url('../fonts/Circe-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe-Thin.woff') format('woff'),
        url('../fonts/Circe-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Light.eot');
    src: local('Circe Light'), local('Circe-Light'),
        url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe-Light.woff') format('woff'),
        url('../fonts/Circe-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Bold.eot');
    src: local('Circe Bold'), local('Circe-Bold'),
        url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe-Bold.woff') format('woff'),
        url('../fonts/Circe-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-ExtraBold.eot');
    src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
        url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe-ExtraBold.woff') format('woff'),
        url('../fonts/Circe-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

body {
    font-family: 'Circe', sans-serif;
}

/*
 * NEW YEAR
 */

.new-year {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 989;
    display: block;
    pointer-events: none;
    background-image: url('/images/new-year.png');
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain
}

.christmas-hat {
    position: absolute;
    width: 30px;
    height: auto;
    top: 2px;
    right: -12px;
    z-index: 99;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .5));
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .5));
}

.logo-shadow {
    -webkit-filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, .25));
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, .25));
}

.menu-link {
    text-decoration: none;
    color: black;
    margin: 0 1em;
    transition: all .4s ease;
    font-weight: 600;
}

.menu-link:hover {
    text-decoration: none;
    color: rgb(255, 188, 21);
    /* #ffbc15 */
}


/*
 * PULSE ICON
 */

.premium-image-hotspots-anim {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
}

.premium-hotsot-icon-wrap {
    position: relative;
}

.premium-hotsot-icon-wrap::before {
    background-color: #90d6ff;
    border-radius: 100px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    pointer-events: none;
    -webkit-animation: pa-hotspot-pulse 1s infinite;
    animation: pa-hotspot-pulse 1s infinite;
}

a.premium-image-hotspots-tooltips-link {
    box-shadow: none;
    text-decoration: none;
    transition: all .2s linear;
    background-color: transparent;
}

.premium-image-hotspots-image-icon {
    background-color: #90d6ff;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: #90d6ff;
    border-radius: 85px;
}

.premium-image-hotspots-image-icon {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.premium-image-hotspots-image-icon {
    width: 70px !important;
}

.elementor-animation-pulse:hover {
    animation-name: elementor-animation-pulse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes elementor-animation-pulse {
    25% {
        transform: scale(1.1)
    }

    75% {
        transform: scale(0.9)
    }
}

@-webkit-keyframes pa-hotspot-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0
    }
}

@keyframes pa-hotspot-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0
    }
}

.totop {
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 999;
    display: none;
    background-color: rgba(255, 255, 255, .5);
}

/*
 * COLORS FOR EXERCISES
 */

.category2 span {
	background-color: #c6e2e9;
	padding: 1px 5px;
	font-weight: bold;
}

.category3 span {
	background-color: #f1ffc4;
	padding: 1px 5px;
	font-weight: bold;
}

.category4 span {
	background-color: #d1eed7;
	padding: 1px 5px;
	font-weight: bold;
}

.category5 span {
	background-color: #FFD2E0;
	padding: 1px 5px;
	font-weight: bold;
}

.category6 span {
	background-color: #ce93d8;
	padding: 1px 5px;
	font-weight: bold;
}

.category7 span {
	background-color: #ffcaaf;
	padding: 1px 5px;
	font-weight: bold;
}

.categoryA span {
    background-color: #ebf3f5;
    padding: 1px 5px;
    font-weight: bold;
}

.categoryB span {
    background-color: #b5e2ff;
    padding: 1px 5px;
    font-weight: bold;
}

@media (min-width: 992px) {

    body {
        font-size: 1.25em;
    }

    .totop {
        bottom: 150px;
        left: 100px;
    }


    .premium-image-hotspots-anim {
        bottom: 150px;
        right: 100px;
    }

    .menu-link {
        font-size: 1.15em;
    }

    .license-image {
        max-width: 480px;
        height: auto;
    }
}